

#game-board {
	display: block;
	width: 400px;
	height: 400px;
	border: 1px dotted green;
}

/*this is a button*/
.board-square {
	vertical-align: text-top;
	width: calc( 100% / 3);
	height: calc( 100% / 3);
	font-size: 100px;
	background-color: white;
}
.board-square:hover {
	background-color: #EEE
}




